@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap');

@layer base {
	@font-face {
		font-family: 'Agrandir';
		src:url('../../public/Agrandir/Agrandir-Regular.otf')  
	}

	@font-face {
		font-family: 'AgrandirGrandHeavy';
		src:url('../../public/Agrandir/Agrandir-GrandHeavy.otf')
	} 
}